<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysConfigMapper">
    <resultMap id="BaseResultMap" type="com.ruoyi.system.domain.pojo.SysConfig">
        <!--@mbg.generated-->
        <!--@Table sys_config-->
        <id column="config_id" jdbcType="BIGINT" property="configId"/>
        <result column="config_name" jdbcType="VARCHAR" property="configName"/>
        <result column="config_key" jdbcType="VARCHAR" property="configKey"/>
        <result column="config_value" jdbcType="VARCHAR" property="configValue"/>
        <result column="is_default" jdbcType="BOOLEAN" property="isDefault"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_by" jdbcType="BIGINT" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_by" jdbcType="BIGINT" property="updateBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    
    <resultMap id="BaseResultVoMap" type="com.ruoyi.system.domain.vo.SysConfigVo">
        <id column="config_id" jdbcType="BIGINT" property="configId"/>
        <result column="config_name" jdbcType="VARCHAR" property="configName"/>
        <result column="config_key" jdbcType="VARCHAR" property="configKey"/>
        <result column="config_value" jdbcType="VARCHAR" property="configValue"/>
        <result column="is_default" jdbcType="BOOLEAN" property="isDefault"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_by" jdbcType="BIGINT" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_by" jdbcType="BIGINT" property="updateBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        config_id,
        config_name,
        config_key,
        config_value,
        is_default,
        remark,
        create_by,
        create_time,
        update_by,
        update_time
    </sql>
    
    <!--auto generated by MybatisCodeHelper on 2024-05-28-->
    <select id="listAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_config
        <where>
            <if test="configName != null and configName != ''">
                and config_name like concat('%', #{configName,jdbcType=VARCHAR}, '%')
            </if>
            <if test="configKey != null and configKey != ''">
                and config_key like concat('%', #{configKey,jdbcType=VARCHAR}, '%')
            </if>
            <if test="isDefault != null">
                and is_default = #{isDefault,jdbcType=BOOLEAN}
            </if>
            <if test="baseQueryMap != null and baseQueryMap.beginTime != null and baseQueryMap.beginTime != ''">
                and date_format(create_time, '%y%m%d') &gt;=
                date_format(#{baseQueryMap.beginTime,jdbcType=TIMESTAMP}, '%y%m%d')
            </if>
            <if test="baseQueryMap != null and baseQueryMap.endTime != null and baseQueryMap.endTime != ''">
                and date_format(create_time, '%y%m%d') &lt;=
                date_format(#{baseQueryMap.endTime,jdbcType=TIMESTAMP}, '%y%m%d')
            </if>
        </where>
    </select>
    
    <select id="page" resultMap="BaseResultVoMap">
        select
        <include refid="Base_Column_List"/>
        from sys_config
        <where>
            <if test="param.configName != null and param.configName != ''">
                and config_name like concat('%', #{param.configName,jdbcType=VARCHAR}, '%')
            </if>
            <if test="param.configKey != null and param.configKey != ''">
                and config_key like concat('%', #{param.configKey,jdbcType=VARCHAR}, '%')
            </if>
            <if test="param.isDefault != null">
                and is_default = #{param.isDefault,jdbcType=BOOLEAN}
            </if>
            <if test="param.baseQueryMap != null and param.baseQueryMap.beginTime != null and param.baseQueryMap.beginTime != ''">
                and date_format(create_time, '%y%m%d') &gt;=
                date_format(#{param.baseQueryMap.beginTime,jdbcType=TIMESTAMP}, '%y%m%d')
            </if>
            <if test="param.baseQueryMap != null and param.baseQueryMap.endTime != null and param.baseQueryMap.endTime != ''">
                and date_format(create_time, '%y%m%d') &lt;=
                date_format(#{param.baseQueryMap.endTime,jdbcType=TIMESTAMP}, '%y%m%d')
            </if>
        </where>
    </select>
    
    <!--auto generated by MybatisCodeHelper on 2024-05-29-->
    <select id="getByConfigKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_config
        where config_key = #{configKey,jdbcType=VARCHAR}
        limit 1
    </select>
</mapper>