<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysDictDataMapper">
    <resultMap id="BaseResultMap" type="com.ruoyi.system.domain.pojo.SysDictData">
        <!--@mbg.generated-->
        <!--@Table sys_dict_data-->
        <id column="dict_code" jdbcType="BIGINT" property="dictCode"/>
        <result column="dict_label" jdbcType="VARCHAR" property="dictLabel"/>
        <result column="dict_value" jdbcType="VARCHAR" property="dictValue"/>
        <result column="dict_type" jdbcType="VARCHAR" property="dictType"/>
        <result column="css_class" jdbcType="VARCHAR" property="cssClass"/>
        <result column="list_class" jdbcType="VARCHAR" property="listClass"/>
        <result column="is_default" jdbcType="BOOLEAN" property="isDefault"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="status" jdbcType="CHAR" property="status"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_by" jdbcType="BIGINT" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_by" jdbcType="BIGINT" property="updateBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <resultMap id="BaseResultVoMap" type="com.ruoyi.system.domain.vo.SysDictDataVo">
        <id column="dict_code" jdbcType="BIGINT" property="dictCode"/>
        <result column="dict_label" jdbcType="VARCHAR" property="dictLabel"/>
        <result column="dict_value" jdbcType="VARCHAR" property="dictValue"/>
        <result column="dict_type" jdbcType="VARCHAR" property="dictType"/>
        <result column="css_class" jdbcType="VARCHAR" property="cssClass"/>
        <result column="list_class" jdbcType="VARCHAR" property="listClass"/>
        <result column="is_default" jdbcType="BOOLEAN" property="isDefault"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="status" jdbcType="CHAR" property="status"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_by" jdbcType="BIGINT" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_by" jdbcType="BIGINT" property="updateBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        dict_code, dict_label, dict_value, dict_type, css_class, list_class, is_default,
        sort, `status`, remark, create_by, create_time, update_by, update_time
    </sql>
    
    <!--auto generated by MybatisCodeHelper on 2024-05-17-->
    <select id="listByDictType" resultMap="BaseResultVoMap">
        select
        <include refid="Base_Column_List"/>
        from sys_dict_data
        where status = '0'
        and dict_type = #{dictType,jdbcType=VARCHAR}
        order by sort desc
    </select>
    
    <!--auto generated by MybatisCodeHelper on 2024-05-28-->
    <select id="listAll" resultMap="BaseResultVoMap">
        select
        <include refid="Base_Column_List"/>
        from sys_dict_data
        <where>
            <if test="dictType != null and dictType != ''">
                and dict_type = #{dictType,jdbcType=VARCHAR}
            </if>
            <if test="dictLabel != null and dictLabel != ''">
                and dict_label = #{dictLabel,jdbcType=VARCHAR}
            </if>
            <if test="status != null and status != ''">
                and status = #{status,jdbcType=VARCHAR}
            </if>
        </where>
        order by sort desc
    </select>
    
    <!--auto generated by MybatisCodeHelper on 2024-05-28-->
    <select id="getByDictTypeAndDictValue" resultMap="BaseResultVoMap">
        select
        <include refid="Base_Column_List"/>
        from sys_dict_data
        where dict_type = #{dictType,jdbcType=VARCHAR}
        and dict_value = #{dictValue,jdbcType=VARCHAR}
        order by sort desc
        limit 1
    </select>
</mapper>