<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysDictTypeMapper">
    <resultMap id="BaseResultMap" type="com.ruoyi.system.domain.pojo.SysDictType">
        <!--@mbg.generated-->
        <!--@Table sys_dict_type-->
        <id column="dict_id" jdbcType="BIGINT" property="dictId"/>
        <result column="dict_name" jdbcType="VARCHAR" property="dictName"/>
        <result column="dict_type" jdbcType="VARCHAR" property="dictType"/>
        <result column="is_default" jdbcType="BOOLEAN" property="isDefault"/>
        <result column="status" jdbcType="CHAR" property="status"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_by" jdbcType="BIGINT" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_by" jdbcType="BIGINT" property="updateBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <resultMap id="BaseResultVoMap" type="com.ruoyi.system.domain.vo.SysDictTypeVo">
        <id column="dict_id" jdbcType="BIGINT" property="dictId"/>
        <result column="dict_name" jdbcType="VARCHAR" property="dictName"/>
        <result column="dict_type" jdbcType="VARCHAR" property="dictType"/>
        <result column="is_default" jdbcType="BOOLEAN" property="isDefault"/>
        <result column="status" jdbcType="CHAR" property="status"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_by" jdbcType="BIGINT" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_by" jdbcType="BIGINT" property="updateBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        dict_id, dict_name, dict_type, is_default, `status`, remark, create_by, create_time,
        update_by, update_time
    </sql>
    
    <!--auto generated by MybatisCodeHelper on 2024-05-27-->
    <select id="getByDictType" resultMap="BaseResultVoMap">
        select
        <include refid="Base_Column_List"/>
        from sys_dict_type
        where dict_type = #{dictType,jdbcType=VARCHAR}
        limit 1
    </select>
    
    <select id="countDictDataByDictType" resultType="int">
        select count(1)
        from sys_dict_data
        where dict_type = #{dictType}
    </select>
    
    <!--auto generated by MybatisCodeHelper on 2024-05-27-->
    <select id="listAll" resultMap="BaseResultVoMap">
        select
        <include refid="Base_Column_List"/>
        from sys_dict_type
        <where>
            <if test="dictName != null and dictName != ''">
                and dict_name like concat('%', #{dictName}, '%')
            </if>
            <if test="dictType != null and dictType != ''">
                and dict_type like concat('%', #{dictType,jdbcType=VARCHAR}, '%')
            </if>
            <if test="status != null and status != ''">
                and status = #{status,jdbcType=VARCHAR}
            </if>
            <if test="baseQueryMap != null and baseQueryMap.beginTime != null and baseQueryMap.beginTime != ''">
                and date_format(create_time, '%y%m%d') &gt;=
                date_format(#{baseQueryMap.beginTime,jdbcType=TIMESTAMP}, '%y%m%d')
            </if>
            <if test="baseQueryMap != null and baseQueryMap.endTime != null and baseQueryMap.endTime != ''">
                and date_format(create_time, '%y%m%d') &lt;=
                date_format(#{baseQueryMap.endTime,jdbcType=TIMESTAMP}, '%y%m%d')
            </if>
        </where>
    </select>
    
    <select id="page" resultMap="BaseResultVoMap">
        select
        <include refid="Base_Column_List"/>
        from sys_dict_type
        <where>
            <if test="param.dictName != null and param.dictName != ''">
                and dict_name like concat('%', #{param.dictName}, '%')
            </if>
            <if test="param.dictType != null and param.dictType != ''">
                and dict_type like concat('%', #{param.dictType,jdbcType=VARCHAR}, '%')
            </if>
            <if test="param.status != null and param.status != ''">
                and status = #{param.status,jdbcType=VARCHAR}
            </if>
            <if test="param.baseQueryMap != null and param.baseQueryMap.beginTime != null and param.baseQueryMap.beginTime != ''">
                and date_format(create_time, '%y%m%d') &gt;=
                date_format(#{param.baseQueryMap.beginTime,jdbcType=TIMESTAMP}, '%y%m%d')
            </if>
            <if test="param.baseQueryMap != null and param.baseQueryMap.endTime != null and param.baseQueryMap.endTime != ''">
                and date_format(create_time, '%y%m%d') &lt;=
                date_format(#{param.baseQueryMap.endTime,jdbcType=TIMESTAMP}, '%y%m%d')
            </if>
        </where>
    </select>
</mapper>