<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysRoleMapper">
    <resultMap id="BaseResultMap" type="com.ruoyi.system.domain.pojo.SysRole">
        <!--@mbg.generated-->
        <!--@Table sys_role-->
        <id column="role_id" jdbcType="BIGINT" property="roleId"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
        <result column="role_key" jdbcType="VARCHAR" property="roleKey"/>
        <result column="data_scope" jdbcType="CHAR" property="dataScope"/>
        <result column="menu_check_strictly" jdbcType="BOOLEAN" property="menuCheckStrictly"/>
        <result column="dept_check_strictly" jdbcType="BOOLEAN" property="deptCheckStrictly"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="status" jdbcType="CHAR" property="status"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="is_deleted" jdbcType="BOOLEAN" property="isDeleted"/>
        <result column="create_by" jdbcType="BIGINT" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_by" jdbcType="BIGINT" property="updateBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    
    <resultMap id="BaseResultVoMap" type="com.ruoyi.system.domain.vo.SysRoleVo">
        <id column="role_id" jdbcType="BIGINT" property="roleId"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
        <result column="role_key" jdbcType="VARCHAR" property="roleKey"/>
        <result column="data_scope" jdbcType="CHAR" property="dataScope"/>
        <result column="menu_check_strictly" jdbcType="BOOLEAN" property="menuCheckStrictly"/>
        <result column="dept_check_strictly" jdbcType="BOOLEAN" property="deptCheckStrictly"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="status" jdbcType="CHAR" property="status"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="is_deleted" jdbcType="BOOLEAN" property="isDeleted"/>
        <result column="create_by" jdbcType="BIGINT" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_by" jdbcType="BIGINT" property="updateBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        role_id, role_name, role_key, data_scope, menu_check_strictly, dept_check_strictly,
        sort, `status`, remark, is_deleted, create_by, create_time, update_by, update_time
    </sql>
    
    <!--auto generated by MybatisCodeHelper on 2024-05-20-->
    <select id="getByRoleKey" resultMap="BaseResultVoMap">
        select
        <include refid="Base_Column_List"/>
        from sys_role
        where role_key = #{roleKey,jdbcType=VARCHAR}
        and is_deleted = false
        limit 1
    </select>
    
    <!--auto generated by MybatisCodeHelper on 2024-05-20-->
    <select id="getByRoleName" resultMap="BaseResultVoMap">
        select
        <include refid="Base_Column_List"/>
        from sys_role
        where role_name = #{roleName,jdbcType=VARCHAR}
        and is_deleted = false
        limit 1
    </select>
    
    <!--auto generated by MybatisCodeHelper on 2024-05-20-->
    <select id="listAll" resultMap="BaseResultVoMap">
        select
        <include refid="Base_Column_List"/>
        from sys_role
        where is_deleted = false
        <if test="roleName != null and roleName != ''">
            and role_name like concat('%', #{roleName,jdbcType=VARCHAR}, '%')
        </if>
        <if test="status != null and status != ''">
            and status = #{status,jdbcType=VARCHAR}
        </if>
        <if test="roleKey != null and roleKey != ''">
            and role_key like concat('%', #{roleKey,jdbcType=VARCHAR}, '%')
        </if>
        <if test="roleId != null">
            and role_id = #{roleId,jdbcType=BIGINT}
        </if>
        <if test="baseQueryMap != null and baseQueryMap.beginTime != null and baseQueryMap.beginTime != ''">
            and date_format(create_time, '%y%m%d') &gt;=
            date_format(#{baseQueryMap.beginTime,jdbcType=TIMESTAMP}, '%y%m%d')
        </if>
        <if test="baseQueryMap != null and baseQueryMap.endTime != null and baseQueryMap.endTime != ''">
            and date_format(create_time, '%y%m%d') &lt;=
            date_format(#{baseQueryMap.endTime,jdbcType=TIMESTAMP}, '%y%m%d')
        </if>
        order by sort desc
    </select>
    
    <!--auto generated by MybatisCodeHelper on 2024-05-20-->
    <select id="page" resultMap="BaseResultVoMap">
        select
        <include refid="Base_Column_List"/>
        from sys_role
        where is_deleted = false
        <if test="param.roleName != null and param.roleName != ''">
            and role_name like concat('%', #{param.roleName,jdbcType=VARCHAR}, '%')
        </if>
        <if test="param.status != null and param.status != ''">
            and status = #{param.status,jdbcType=VARCHAR}
        </if>
        <if test="param.roleKey != null and param.roleKey != ''">
            and role_key like concat('%', #{param.roleKey,jdbcType=VARCHAR}, '%')
        </if>
        <if test="param.roleId != null">
            and role_id = #{param.roleId,jdbcType=BIGINT}
        </if>
        <if test="param.baseQueryMap != null and param.baseQueryMap.beginTime != null and param.baseQueryMap.beginTime != ''">
            and date_format(create_time, '%y%m%d') &gt;=
            date_format(#{param.baseQueryMap.beginTime,jdbcType=TIMESTAMP}, '%y%m%d')
        </if>
        <if test="param.baseQueryMap != null and param.baseQueryMap.endTime != null and param.baseQueryMap.endTime != ''">
            and date_format(create_time, '%y%m%d') &lt;=
            date_format(#{param.baseQueryMap.endTime,jdbcType=TIMESTAMP}, '%y%m%d')
        </if>
        order by sort desc
    </select>
    
    <!--auto generated by MybatisCodeHelper on 2024-05-21-->
    <update id="updateStatusByRoleId">
        update sys_role
        set `status`=#{updatedStatus,jdbcType=CHAR}
        where role_id = #{roleId,jdbcType=BIGINT}
    </update>
    
    <select id="listRoleByUserId" resultMap="BaseResultVoMap">
        select distinct t1.role_id,
        t1.role_name,
        t1.role_key,
        t1.sort,
        t1.data_scope,
        t1.menu_check_strictly,
        t1.dept_check_strictly,
        t1.status,
        t1.create_time,
        t1.remark
        from sys_role t1
        left join sys_user_role t2 on t2.role_id = t1.role_id
        left join sys_user t3 on t3.user_id = t2.user_id
        left join sys_dept t4 on t3.dept_id = t4.dept_id
        WHERE t1.is_deleted = false
        and t2.user_id = #{userId,jdbcType=BIGINT}
    </select>
</mapper>