<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysUserMapper">
    <resultMap id="BaseResultMap" type="com.ruoyi.system.domain.pojo.SysUser">
        <!--@mbg.generated-->
        <!--@Table sys_user-->
        <id column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="dept_id" jdbcType="BIGINT" property="deptId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
        <result column="user_type" jdbcType="VARCHAR" property="userType"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="phonenumber" jdbcType="VARCHAR" property="phonenumber"/>
        <result column="sex" jdbcType="CHAR" property="sex"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="login_ip" jdbcType="VARCHAR" property="loginIp"/>
        <result column="login_date" jdbcType="TIMESTAMP" property="loginDate"/>
        <result column="status" jdbcType="CHAR" property="status"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="is_deleted" jdbcType="BOOLEAN" property="isDeleted"/>
        <result column="create_by" jdbcType="BIGINT" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_by" jdbcType="BIGINT" property="updateBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <resultMap id="BaseResultVoMap" type="com.ruoyi.system.domain.vo.SysUserVo">
        <id column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="dept_id" jdbcType="BIGINT" property="deptId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
        <result column="user_type" jdbcType="VARCHAR" property="userType"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="phonenumber" jdbcType="VARCHAR" property="phonenumber"/>
        <result column="sex" jdbcType="CHAR" property="sex"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="login_ip" jdbcType="VARCHAR" property="loginIp"/>
        <result column="login_date" jdbcType="TIMESTAMP" property="loginDate"/>
        <result column="status" jdbcType="CHAR" property="status"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="is_deleted" jdbcType="BOOLEAN" property="isDeleted"/>
        <result column="create_by" jdbcType="BIGINT" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_by" jdbcType="BIGINT" property="updateBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    
    <resultMap id="ListAllResultMap" type="com.ruoyi.system.domain.vo.SysUserVo">
        <id column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="dept_id" jdbcType="BIGINT" property="deptId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
        <result column="user_type" jdbcType="VARCHAR" property="userType"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="phonenumber" jdbcType="VARCHAR" property="phonenumber"/>
        <result column="sex" jdbcType="CHAR" property="sex"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="status" jdbcType="CHAR" property="status"/>
        <result column="login_ip" jdbcType="VARCHAR" property="loginIp"/>
        <result column="login_date" jdbcType="TIMESTAMP" property="loginDate"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <collection property="deptList" ofType="com.ruoyi.system.domain.vo.SysDeptVo" javaType="java.util.List"
            resultMap="DeptResult"/>
        <collection property="roleList" ofType="com.ruoyi.system.domain.vo.SysRoleVo" javaType="java.util.List"
            resultMap="RoleResult"/>
    </resultMap>
    
    <resultMap id="GetInfoWithDeptAndRoleAndPostResultMap" type="com.ruoyi.system.domain.vo.SysUserVo">
        <id property="userId" column="user_id"/>
        <result property="deptId" column="dept_id"/>
        <result property="userName" column="user_name"/>
        <result property="nickName" column="nick_name"/>
        <result property="email" column="email"/>
        <result property="phonenumber" column="phonenumber"/>
        <result property="sex" column="sex"/>
        <result property="avatar" column="avatar"/>
        <result property="password" column="password"/>
        <result property="status" column="status"/>
        <result property="loginIp" column="login_ip"/>
        <result property="loginDate" column="login_date"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="remark" column="remark"/>
        <collection property="postList" ofType="com.ruoyi.system.domain.vo.SysPostVo" javaType="java.util.List"
            resultMap="PostResult"/>
        <collection property="roleList" ofType="com.ruoyi.system.domain.vo.SysRoleVo" javaType="java.util.List"
            resultMap="RoleResult"/>
    </resultMap>
    
    <resultMap id="DeptResult" type="com.ruoyi.system.domain.vo.SysDeptVo">
        <id property="deptId" column="dept_id"/>
        <result property="parentId" column="parent_id"/>
        <result property="deptName" column="dept_name"/>
        <result property="ancestors" column="ancestors"/>
        <result property="sort" column="dept_sort"/>
        <result property="leader" column="leader"/>
        <result property="status" column="dept_status"/>
    </resultMap>
    
    <resultMap id="PostResult" type="com.ruoyi.system.domain.vo.SysPostVo">
        <id property="postId" column="post_id"/>
        <result property="postCode" column="post_code"/>
        <result property="postName" column="post_name"/>
        <result property="sort" column="post_sort"/>
        <result property="status" column="post_status"/>
    </resultMap>
    
    <resultMap id="RoleResult" type="com.ruoyi.system.domain.vo.SysRoleVo">
        <id property="roleId" column="role_id"/>
        <result property="roleName" column="role_name"/>
        <result property="roleKey" column="role_key"/>
        <result property="sort" column="role_sort"/>
        <result property="dataScope" column="data_scope"/>
        <result property="status" column="role_status"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        user_id, dept_id, user_name, nick_name, user_type, email, phonenumber, sex, avatar,
        `password`, login_ip, login_date, `status`, remark, is_deleted, create_by, create_time,
        update_by, update_time
    </sql>
    
    <select id="listAll" resultMap="ListAllResultMap">
        select t1.user_id,
               t1.dept_id,
               t1.user_name,
               t1.nick_name,
               t1.email,
               t1.avatar,
               t1.user_type,
               t1.phonenumber,
               t1.password,
               t1.sex,
               t1.status,
               t1.login_ip,
               t1.login_date,
               t1.create_by,
               t1.create_time,
               t1.remark,
               t2.dept_id,
               t2.parent_id,
               t2.dept_name,
               t2.ancestors,
               t2.sort   as dept_sort,
               t2.leader,
               t2.status as dept_status
        from sys_user t1
                 left join sys_dept t2 on t1.dept_id = t2.dept_id
        where t1.is_deleted = false
    </select>
    
    <select id="page" resultMap="ListAllResultMap">
        select t1.user_id,
               t1.dept_id,
               t1.user_name,
               t1.nick_name,
               t1.email,
               t1.avatar,
               t1.user_type,
               t1.phonenumber,
               t1.password,
               t1.sex,
               t1.status,
               t1.login_ip,
               t1.login_date,
               t1.create_by,
               t1.create_time,
               t1.remark,
               t2.dept_id,
               t2.parent_id,
               t2.dept_name,
               t2.ancestors,
               t2.sort   as dept_sort,
               t2.leader,
               t2.status as dept_status
        from sys_user t1
                 left join sys_dept t2 on t1.dept_id = t2.dept_id
        where t1.is_deleted = false
    </select>
    
    <select id="getInfoWithRoleAndPost" resultMap="GetInfoWithDeptAndRoleAndPostResultMap">
        select t1.user_id,
        t1.dept_id,
        t1.user_name,
        t1.nick_name,
        t1.email,
        t1.avatar,
        t1.phonenumber,
        t1.password,
        t1.sex,
        t1.status,
        t1.login_ip,
        t1.login_date,
        t1.create_by,
        t1.create_time,
        t1.remark,
        t3.post_id,
        t3.post_code,
        t3.post_name,
        t3.sort as post_sort,
        t3.status as post_status,
        t5.role_id,
        t5.role_name,
        t5.role_key,
        t5.sort as role_sort,
        t5.data_scope,
        t5.status as role_status
        from sys_user t1
        left join sys_user_post t2 on t1.user_id = t2.user_id
        left join sys_post t3 on t2.post_id = t3.post_id
        left join sys_user_role t4 on t1.user_id = t4.user_id
        left join sys_role t5 on t4.role_id = t5.role_id
        where t1.user_id = #{userId,jdbcType=BIGINT}
    </select>
    
    <!--auto generated by MybatisCodeHelper on 2024-06-27-->
    <select id="getByUserName" resultMap="BaseResultVoMap">
        select
        <include refid="Base_Column_List"/>
        from sys_user
        where user_name = #{userName,jdbcType=VARCHAR}
    </select>
    
    
    <select id="listAllocatedUser" resultMap="BaseResultVoMap">
        select distinct t1.user_id,
        t1.dept_id,
        t1.user_name,
        t1.nick_name,
        t1.email,
        t1.phonenumber,
        t1.status,
        t1.create_time
        from sys_user t1
        left join sys_dept t2 on t1.dept_id = t2.dept_id
        left join sys_user_role t3 on t1.user_id = t3.user_id
        left join sys_role t4 on t3.role_id = t4.role_id
        where t1.is_deleted = false
        and t4.role_id = #{param.roleId,jdbcType=BIGINT}
        <if test="param.userName != null and param.userName != ''">
            and t1.user_name like concat('%', #{param.userName,jdbcType=VARCHAR}, '%')
        </if>
        <if test="param.phonenumber != null and param.phonenumber != ''">
            and t1.phonenumber like concat('%', #{param.phonenumber,jdbcType=VARCHAR}, '%')
        </if>
    </select>
    
    <select id="listUnAllocatedUser" resultMap="BaseResultVoMap">
        select distinct t1.user_id,
        t1.dept_id,
        t1.user_name,
        t1.nick_name,
        t1.email,
        t1.phonenumber,
        t1.status,
        t1.create_time
        from sys_user t1
        left join sys_dept t2 on t1.dept_id = t2.dept_id
        left join sys_user_role t3 on t1.user_id = t3.user_id
        left join sys_role t4 on t3.role_id = t4.role_id
        where t1.is_deleted = false
        and (t3.role_id != #{param.roleId,jdbcType=BIGINT} or t3.role_id is null)
        <if test="param.userName != null and param.userName != ''">
            and t1.user_name like concat('%', #{param.userName,jdbcType=VARCHAR}, '%')
        </if>
        <if test="param.phonenumber != null and param.phonenumber != ''">
            and t1.phonenumber like concat('%', #{param.phonenumber,jdbcType=VARCHAR}, '%')
        </if>
    </select>
</mapper>